@charset "UTF-8";

/* すべてのWebページに適用される */

img {
  /* 画像が画面の横幅からはみ出るのを防ぐためにmaxサイズを設定します */
  
  width: 100%;
  max-width: 1920px;  /* 画像の横幅サイズにあわせて最大幅を指定します */
  height: 600px;      /* 縦の高さを固定します */
  object-fit: cover;  /* 横幅は画面サイズにあわせて伸縮します */
}
